* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/football-field-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.scrollable-div {
    height: 300px; /* Set the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}

#selGames {
    display: none;
}

/* Float 2 columns side by side */
.column {
    float: left;
    width: 50%;
    padding: 0 10px;
}

.columnYourGroups {
    float: left;
    width: 100%;
    padding: 0 10px;
}

/* Remove extra left and right margins due to padding in columns */
.row {
    margin: 0 -5px;
}

.row2 {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row2:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the cards for the groups */
.cardGroups {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* This adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    height: 100%;
}

.cardGroupsScrollable {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* This adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    height: 300px;
    overflow-y: auto;
}

.columnPicks {
    float: left;
    width: 50%;
    margin-bottom: 20px;
}

.cardPicks {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* This adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    height: 100%;
    margin-bottom: 20px;
}

.swal-input-container {
    display: flex;
    flex-direction: column;
}

.swal-input-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adjust as needed */
}

label {
    margin-right: 10px; /* Adjust as needed */
}

ol li::marker {
    font-weight: bold;
}

ol li h6 {
    display: inline;
}

header {
    background-color: #262626;
}

/* Nav Bar List */
nav li {
    list-style: none;
}

/* Nav Bar a tags */
nav a {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: green;
}

.hamburger {
    display:none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.selectize-control {
    margin: 0 auto; /* Center align the selectize box */
    max-width: 100%; /* Set a max width for the selectize box */
}

.week {
    display: flex; /* Make the <ol> a flex container */
    flex-wrap: wrap; /* Allow wrapping to the next line if needed */
    padding-left: 0; /* Remove padding */
    margin: 0; /* Remove default margins */
    list-style: none; /* Remove default list style */
}

.week li {
    display: inline-flex; /* Use inline-flex for each <li> */
    align-items: center; /* Align items vertically in the center */
    counter-increment: week-counter;
    margin-right: 1.5em; /* Space between list items */
}

.week li:before {
    content: "Week " counter(week-counter) ": ";
    flex-shrink: 0; /* Prevent the prefix from shrinking */
    margin-right: 0.3em; /* Space between prefix and content */
    font-weight: bold; /* Make the prefix bold */
}

@media (max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 10;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    /* Responsive columns for Groups Card - one column layout (vertical) on small screens */
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .columnPicks {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}